body {
  font-family: sans-serif;
  margin: 0;
}
header {
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding-right: .3rem;
}
header.admin {
  background-color: rgb(255, 115, 115);
}
header h4 {
  padding: 0.5rem 0.8rem;
  margin: 0;
}
header .spacer {
  flex: 1;
}
header a {
  text-decoration: none;
  padding: 0.2rem 0.4rem;
}
header a:hover {
  background-color: lightblue;
}
#content {
  margin: 1rem;
  max-width: 90rem;
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}
video {
  width: 270px;
  height: 150px;
}
.video {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 1.2rem;
  margin-bottom: 1.2rem;
}
.video .thumbnail {
  width: 320px;
  height: 240px;
  margin-bottom: .4rem;
  box-shadow: 3px 3px 6px rgb(165, 165, 165);
}
.video .info {
  padding: 0.2rem.3rem;
}
.video h2 {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.95rem;
}
.video p {
  margin: 0;
  font-size: 0.9rem;
}
.info .duration {
  font-size: 0.8rem;
  color: rgb(83, 83, 83);
}
.info .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.1rem 0 0.2rem 0;
}
.info time {
  font-size: 0.8rem;
}
